.friend {
  width: 16px;
  height: 24px;
  background: url("../images/cursor.png");
  position: absolute;
  z-index: 101;
  pointer-events: none;
}

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	max-height: 100%;
	max-width: 100%;
}

#loading {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	background-color: rgba(255,0,255,.3);
}

#loadtext {
	color: white;
	font-family: sans-serif;
	font-size: 2em;
}

#record {
	background-color: rgba(255,0,255,.3);
	color: white;
	position: absolute;
	left: 2vw;
	top: 5vh;
	font-family: sans-serif;
	font-size: 2em;
	z-index: 100;
}

.box {
	position: absolute;
	height: 100vh;
	width: 20vw;
}

#box0 {
	background-color: #FF8787;
}

#box1 {
	background-color: #E03131;
	left: 20vw;
}

#box2 {
	background-color: #B52222;
	left: 40vw;
}
#box3 {
	background-color: #8E1717;
	left: 60vw;
}
#box4 {
	background-color: #751313;
	left: 80vw;
}
/*
body, html {
	cursor: none;
}
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, html {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}